 /** overall rules **/
* {
    font-family: 'Encode Sans', sans-serif;
}
/** gets ride or top gap **/
body {
    margin: 0;
    padding: 0;
}

/** top navbar **/
div.topnav {
    overflow: hidden;
    background-color: orange;
    max-width: 100%
}

div.rtnav, li a {
    padding-top: 9px;
    margin-right: 20px;
}

div.topnav {
    padding: 15px 50px 31px 0;
}

/** Navbar Fonts**/
li.orange, div.rtnav, li a  {
    float: right;
    color: antiquewhite;
    font-size: 17px;
    list-style: none;
    text-decoration: none;
}

/** heart **/
i.fa-heart-o {
    color: white;
    font-size: 38px;
    float: left;
    margin-top: 5px;
    padding-left: 54px;
}

/** Orange **/
li.orange {
    float: left;
    font-size: 40px;
    padding-left: 2px;
}
li.orange sup {
    font-size: 12px;
}

li.orange span {
    color: white;
    font-weight: 900;
}

/** Rt navbar **/
/** swithed order or nav **/
div.rtnav li {
    float: left;
    margin-right: 23px
}

/** Hover **/
div.topnav a:hover, a:active {
    color: lightblue;
}
/** Search Bar **/
form {
    float: right;
    padding-right: 120px;

}
/** Link searchbar & Icon **/
input[type=text], i.fa-search {
    box-sizing: border-box; 
    border: 2px solid gainsboro;
    font-size: 16px;
    background-color: gainsboro;
    margin-top: 2px;
}

input[type=text] {
    width: 203px;
    display: inline-block;
    border-radius: 0 0 2px 2px;
    padding: 20px 20px 20px 25px;
}

i.fa-search {
    color: grey;
    font-size: 18px;
    display: block;
    float: right;
    clear: right;
    border-radius: 2px 2px 0px 0px;
    padding: 20.5px;
}

/** Main Orange Box **/
div.hero-image {
     margin: 100px 50px 155px 40px;
}

img.one {
    height: 45%;
    width: 45%;
}

/** Main Paragraph **/
div .maintext { 
    color: burlywood;
    font-size: 47px;
    float: right;
    margin: 65px 67px 50px 0;
}

/** Main Span fonts **/
span.orange {
    color: orange;
    font-weight:bold;
}

span.web-app {
    font-weight: bold; 
    color:lightblue
}

sup {
    color: orange;
    font-size: small;
}

/** buttons **/
.button {
    background-color: orange;
    border: none;
    color: antiquewhite;
    padding: 23px 70px 23px 70px;
    margin: 0 40px 0 10px;
    font-size: 16px;
    cursor: pointer;  
}
/** moves buttons to center right **/
p.buttons {
    margin: -131px 30px 16px 70px;
    padding: 0 0 0 600px;
}

/** button2 **/
p .button2 {background-color: lightblue;}

p .button2 {
    padding:23px 60px 23px 60px;
    margin: 0 0 0 10px
}
    
/** Button Hover **/
p .button:hover {background-color: chocolate}
p .button2:hover {background-color: steelblue}

p .button:active {
    background-color: #3e8e41
    transform: translateY(4px);
}

/** Footer **/
div.footer {
    width: 100%;
    height: 80px;
    padding: 17px;
    background-color: lightblue;
    text-align: center;
}








