    /** overall rules **/
     body {
        width: 960px
        height: auto;
        }

    * {
        font-family: 'Encode Sans', sans-serif;
    }

    /** top navbar **/
    div.topnav {
        overflow: auto;
        background-color: orange;
    }

    /** Navbar Fonts**/
    li.orange, div.rtnav, li a  {
        float: right;
        color: antiquewhite;
        font-size: 15px;
        list-style: none;
        text-decoration: none;
        padding: 10px;
        margin-right: 35px;
    }

    /** heart **/
    i.fa-heart-o {
        color: white;
        font-size: 38px;
        float: left;
        margin-top: 5px;
        padding-left: 40px;
    }

    /** Orange **/
    li.orange {
        float: left;
        font-size: 40px;
        padding: 0 10px 20px 0;
    }
    li.orange sup {
        font-size: 12px;
        color: white;
    }

    li.orange span {
        color: white;
        font-weight: 900;
    }

    /** Rt navbar **/
    /** swithed order or nav **/
    div.rtnav li {
        float: left;
        margin-right: 23px
    }

    /** Hover **/
    div.topnav a:hover, a:active {
        color: lightblue;
    }
    /** Search Bar **/
    form {
        float: right;
        padding-right: 120px;

    }

    /** search bar **/
    #searchbar {
        display: block;
        margin-top: 5px;
    }

    /** Link searchbar & Icon **/
    input[type=text] {
        border: 2px solid gainsboro;
        font-size: 19px;
        background-color: gainsboro;
        padding: 13px 106px 13px 18px;
    }

    .fa-search {
        color: grey;
        font-size: 18px;
        display: block;
        float: right;
        clear: right;
        border-radius: 2px 2px 0px 0px;
        padding: 21px;
    }

    /** main secttion **/
    #main_section {
        display: inline-block;
        background-color: white;
    }

    /** Main Orange Box **/
    .hero_image {
    display: block;
    }

    img.one {
        width: 41%;
        margin-top: 5%
    }
        
    /** Main Paragraph **/
    .main_text { 
        display: block;
        position: relative;
        bottom: 367px;
        right: -4%;
        left: -6%;
        color: burlywood;
        font-size: 51px;
        float: right;
    }

    /** Main Span fonts **/
    span.orange {
        color: orange;
        font-weight: bolder;
    }

    span.web-app {
        font-weight: bold; 
        color:lightblue
    }

    sup {
        color: orange;
        font-size: small;

    }

    /** buttons **/
    .buttons {
        text-align: center;
    }

    .button {
        background-color: orange;
        border: none;
        color: antiquewhite;
        padding: 23px 70px 23px 70px;
        margin-left: 74px;
        font-size: 16px;
        cursor: pointer;  
    }
    /** moves buttons to center right **/
    /** button2 **/
    p .button2 {background-color: lightblue;
        padding:21.5px 37px;
    }
    p.buttons {
        text-align: left;
       } 
    /** Button Hover **/
    p .button:hover {background-color: chocolate}
    p .button2:hover {background-color: steelblue}

    p .button:active {
        background-color: #3e8e41
        transform: translateY(4px);
    }

    /** Footer **/
    div.footer {
        width: 97.5%;
        height: 60px;
        padding: 17px;
        margin-top: 119px;
        background-color: lightblue;
    }

/** iphone 6 **/
@media (max-width: 1200px){
    body {
        width: 588px;
        margin: 0 auto;   
    }
    img.one {
        width: 96%
    }

    i.fa-heart-o {
        font-size: 55px;
        margin-top: 24px;
        padding-left: 51px;
    }

    li.orange {
        float: left;
        font-size: 67px;
        padding-right: 10px 80px 10px 0;
        margin-right: 59px;
    }
    
     div.rtnav, li a {
        font-size: 25px;
        float: right;
        color: antiquewhite;
        list-style: none;
        text-decoration: none;
        padding: 0 19px 12px 19px;
        margin-right: -11px;
    }
    .mobile {
        margin-left: 56px;
        margin-right: 60px;
    }
    div#searchbar {
        font-size: 30px;
        margin-top: 20px;
    }
    input[type=text] {
        font-size: 33px;
    }

    form.searchbar {
        padding-right: 65px;
    }
    div.main_text {
        display: block;
        position: relative;
        text-align: center;
        bottom: -9px;
        right: -16px;
        color: burlywood;
        font-size: 40px;
        float: none;
    }
    .button {
        font-size: 25px;
        margin-top: 9px;
        margin-left: 10%;
        padding: 40px;
        text-align: center;
    }

    p .button2 {
        background-color: lightblue;
        padding: 39.5px 21px;
        margin-left: 11px;
    }
    div.footer {
        width: 89.5%;
        height: 60px;
        padding: 28px;
        margin-top: 27px;
        background-color: lightblue;
        float: left;
    }
 }   







